.container {
width:800px;
height:710px;
background-image:url(07.jpg);
margin:auto;
border: 2px solid blue;
position:fixed;
}

a {
display:block;
width:130px;
height:20px;
background-color:#888888;
text-align:center;
text-decoration:none;
color:#fff;
border:1px solid #fff;
padding: 5px;

}

a:hover {
color:red;
background-color:#111111;

}

ul {
list-style-position:outside;
list-style-type:none;
position: fixed;
left:0px;
top:0px;
padding-left: 0px;
/*position:fixed;
float:left;
margin:0px;
margin-left: 0px;*/
border: 2px solid red;
width: 10%;

}

img {
float:right;
border-style: solid;
border-width: 3px;
border-color: #008;
padding: 40px;
margin-top: 20px;
margin-left: 10px;

}

 